.Condiciones{
    display: flex; 
    align-items: center; 
     
    top: 300px; 
    right: -50px; 
    width: calc(100% - 150px);
    height: calc(100% - 100%); 
}

.Condiciones {
    align-items: center; 
    position: absolute; 
    top: 180px; 
    right: -400px; 
   
}

.Condiciones div {
    padding: 10px;
}

.formularios {
    display: flex; 
    align-items: center; 
    position: absolute; 
    top: 350px; 
    right: -50px; 
    width: calc(100% - 150px);
    height: calc(100% - 100%); 
}
.formularios > div {
    display: none;
}
.formularios > div.show {
    display: block;
}

.question {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.question p {
    margin: 0;
    margin-right: 200px; 
}


input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-right: 68px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #f5cc48;
}
/* mover formulario */

.formularios div {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.text-container pre {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
}

#form-cabina {
    margin-top: 278px; 
}

#form-baterias {
    margin-top: -225px; 
}
#form-direccion {
    margin-top: -225px; 
}
#form-frenos {
    margin-top: -178px; 
}
#form-ejes{
    margin-top: -178px; 

}
#form-neumaticos{
    margin-top: -178px; 

}
#form-embrague{
    margin-top: -272px; 

}
#form-carroceria{
    margin-top: -158px; 

}


/* motor espacio radios */
.question:nth-child(1) .circle-group-motor {
    margin-top: 10px;
    padding-left: 202px;

}
.question:nth-child(2) .circle-group-motor2 {
    padding-left: 257px;
}
.question:nth-child(3) .circle-group-motor3 {
    padding-left: 210px;

}
.question:nth-child(4) .circle-group-motor4 {
    padding-left: 272px;

}
.question:nth-child(5) .circle-group-motor5  {
    margin-left: 186px; 
}
.question:nth-child(6) .circle-group-motor6  {
    margin-left: 229px; 
}
.question:nth-child(7) .circle-group-motor7  {
    margin-left: 198px; 
}


/* cabina espacio radios */
.question:nth-child(1) .circle-group-cabina  {
    margin-top: 15px;
    margin-left: 210px; 
}
.question:nth-child(2) .circle-group-cabina2  {
    margin-left: 237px; 
}
.question:nth-child(3) .circle-group-cabina3  {
    margin-left: 268px; 
}
.question:nth-child(4) .circle-group-cabina4  {
    margin-left: 252px; 
}
.question:nth-child(5) .circle-group-cabina5  {
    margin-left: 255px; 
}
.question:nth-child(6) .circle-group-cabina6  {
    margin-left: 258px; 
}
.question:nth-child(7) .circle-group-cabina7  {
    margin-left: 318px; 
}
.question:nth-child(8) .circle-group-cabina8  {
    margin-left: 206px; 
}
.question:nth-child(9) .circle-group-cabina9  {
    margin-left: 211px; 
}
.question:nth-child(10) .circle-group-cabina10  {
    margin-left: 218px; 
}
.question:nth-child(11) .circle-group-cabina11  {
    margin-left: 245px; 
}
.question:nth-child(12) .circle-group-cabina12  {
    margin-left: 250px; 
}
.question:nth-child(13) .circle-group-cabina13  {
    margin-left: 224px; 
}


/* baterias espacio radios */
.question:nth-child(1) .circle-group-baterias  {
    margin-left: 36px; 
}
.question:nth-child(2) .circle-group-baterias2 {
    margin-left: 190px; 
}

/* direccion espacio radios */
.question:nth-child(1) .circle-group-direccion  {
    margin-left: 200px; 
}
.question:nth-child(2) .circle-group-direccion2 {
    margin-left: 272px; 
}

/* frenos espacio radios */
.question:nth-child(1) .circle-group-frenos  {
    margin-left: 198px; 
}
.question:nth-child(2) .circle-group-frenos2 {
    margin-left: 198px; 
}
.question:nth-child(3) .circle-group-frenos3 {
    margin-left: 117px; 
}

/* ejes espacio radios */
.question:nth-child(1) .circle-group-ejes  {
    margin-left: 225px; 
}
.question:nth-child(2) .circle-group-ejes2 {
    margin-left: 93PX; 
}
.question:nth-child(3) .circle-group-ejes3 {
    margin-left: 117px; 
}

/* neumaticos espacio radios */
.question:nth-child(1) .circle-group-neumaticos  {
    margin-left: 163px; 
}
.question:nth-child(2) .circle-group-neumaticos2 {
    margin-left: 227px; 
}
.question:nth-child(3) .circle-group-neumaticos3 {
    margin-left: 69px; 
}

/* embrague espacio radios */
.question:nth-child(1) .circle-group-embrague  {
    margin-left: 153px; 
}

/*carroceria espacio radios */
.question:nth-child(1) .circle-group-carroceria  {
    margin-left: 125px; 
}
.question:nth-child(2) .circle-group-carroceria2{
    margin-left: 42px; 
}
